
body {
    font-family: 'Lausanne', sans-serif;
    margin: 0;
    padding-top: 60px; /* Matches banner height */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed; /* Fixes banner at the top */
    top: 0;
    left: 0;
    height: 60px; /* Set a fixed height */
    background-color: #333;
    color: #fff;
    z-index: 10; /* Keeps it above other content */
}

.top-banner-items {
    padding: 0 25px; /* Equal left and right padding */
}


.font-selector {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.font-selector-box {
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}

.font-selector-box h3 {
    margin-bottom: 10px;
    text-align: center;
}

.f-t-box {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.font-size-box {
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%
}

.font-size-box p {
    margin-bottom: 10px;
}

.font-size-box .font-slider {
    width: 600px;
}

.font-value-box {
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%
}

.font-value-box input {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
}

.font-button button {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    height: 40px;
    width: 400px;
    font-size: larger;
}

.play-element {
    height: 200px;
    line-height: 180px;
    max-width: 100%;
    text-align: center;
    background-color: #eaeaea;
    font-size: 80px;
    border: 3px solid black;
    border-radius: 15px;
    margin: 15px;
    
}

.play-element-text {
    text-wrap: balance;
}

.font-source-box {
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    margin-left: 40%;
    margin-right: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}